
body {
    background: #0B2447;
}

label {
    color: white;
    font-size: 20px;
    margin: 5px 0px;
}
input,select,textarea,button {
    border:none;
    border-radius:3px !important;
    -webkit-border-radius:3px !important;
    -moz-border-radius:3px !important;
    -ms-border-radius:3px !important;
    -o-border-radius:3px !important;
    &:focus {
        box-shadow: none !important;
    }
}
